<% color = if alert.type == "portal_opened" %>
	  <%"text-green-500"%>
	<%else%>
	  <%"text-red-500"%>
    <%end%>
<p class="<%=color%> text-sm font-normal">
	<span>[<%= alert.created_at%>] </span>
	<span><%=alert.description%> </span>
	<span>tags: [<%=alert.tag[0]%>, <%=alert.tag[1]%>] </span>
    <span>origin: <%=alert.origin%> </span>
</p>