<% color = if alert.type.downcase == "portal_opened" %>
	  <%"text-green-500"%>
	<%else%>
	  <%"text-red-500"%>
    <%end%>
<p class="<%=color%> text-sm font-normal">
	<span>[<%= alert.created_at%>] </span>
	<span><%=alert.description%> </span>
	<span>
	  [<%= render partial: "tag", collection: alert.tag %>]
    </span>
    <span>Origin: <%=alert.origin%> </span>
</p>